/* Compare CSS */

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 19px;
  line-height: 1.618em;
  word-wrap: break-word;
  background-color: #fff;
}

table {
  width: 100%;
  margin-bottom: 2.5rem;
  border-collapse: collapse;
  border-spacing: 1px;
}

td,
th {
  text-align: right;
  word-break: break-all;
  padding: 4px;
}

thead tr th {
  border-bottom: 1px solid #e1e1e1;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

a {
  color: #0073b0;
}

.grid-result {
  padding-top: 0px;
}

.smallish {
  font-size: 80%;
  font-weight: 400;
  margin-top: .25rem;
  color: #636c72;
  text-align: center;
}

.harwrapper {
  position: relative;
}

.har2 {
  opacity: 0.00;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.har1 {
  opacity: 1.00;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.tabletext {
  text-align: left;
  padding: 4px;
  vertical-align: top;
}

.dropzone {
  border: 3px dashed #0095d2;
  border-radius: 16px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.fd-zone.over {
  border-color: maroon;
  background: #eee;
}

.fd-zone {
  position: relative;
  overflow: hidden;
}

.resource-legend .legend-url1:before {
  background: green;
}
.resource-legend .legend-url2:before {
  background: maroon;
}

.result {
  display: none;
}

.userShowable {
  display: none;
  background-color: #f5f5f5;
}

.no-break {
  word-break: keep-all;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.rangeWrapper {
  display: flex;
  align-items: center;
}

.wip {
  transform: rotate(45deg);
  position: absolute;
  right: -35px;
  background-color: #0095d2;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
  width: 150px;
  text-align: center;
  padding: 4px;
}

.logo {
  position: absolute;
}

.title {
  text-align: center;
  font-size: 64px;
  margin-top: 0;
  padding-top: 18px;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.input-field {
  font-size: 25px;
  margin: 30px auto 0;
  display: block;
  border: solid 1px #000000;
  border-radius: 4px;
  padding: 10px 20px;
}

.header {
  background: #e1f6fd;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.header-result {
  background: #e1f6fd;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.submit {
  margin: 20px auto 20px;
  font-size: 25px;
  display: block;
  padding: 10px 20px;
  background-color: #0095d2;
  color: #fff;
  cursor: pointer;
  border-color: #0095d2;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 900;
}

.submit-smaller {
  display: inline;
  font-size: 11px;
  vertical-align: middle;
  height: 22px;
  padding: 0 8px;
  font-weight: 200;
  line-height: 20px;
  margin: 0;
}

.submit:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.help {
  text-align: center;
  display: none;
  max-width: 600px;
  margin: 40px auto 0;
}

.message {
  text-align: center;
  padding: 20px;
  color: red;
}

.header-links {
  text-align: center;
}

/* Range control*/

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 200px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
  background: #0095d2;
  border-radius: 1.3px;
  border: 0.2px solid #0073b0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
  border: 1px solid #0073b0;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0095d2s;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
  background: #0095d2;
  border-radius: 1.3px;
  border: 0.2px solid #0073b0;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
  border: 1px solid #0073b0;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #0073b0;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
}
input[type=range]::-ms-fill-upper {
  background: #0095d2;
  border: 0.2px solid #0073b0;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #0073b0, 0px 0px 1px #0073b0;
  border: 1px solid #0073b0;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0095d2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0095d2;
}

.fastly {
  vertical-align: middle;
  height: 32px;
}
@media (max-width: 600px) {
  .img-logo {
    width: 100%;
    max-width: 30px;
  }

  .title {
    text-align: center;
    font-size: 48px;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 0;
  }
}
