
.requestDiffTable tr {

  td {
    font-size: 80%;
    background: $white;
  }

  &:nth-child(odd) {
    td {
      background: $grey;
      font-size: 80%;
    }
  }
}

table .requestDiffTable {
  table-layout: fixed;
}
